{
    "sandbox": {
        "key": "",
        "secret": "",
        "passphrase": "",
        "authority": "https://api-public.sandbox.pro.coinbase.com"
    },
    "restapi": {
        "key": "",
        "secret": "",
        "passphrase": "",
        "authority": "https://api.pro.coinbase.com"
    },
    "websocket": {
        "authority": "wss://ws-feed.pro.coinbase.com"
    }
}
