{
    "uri": {
        "sandbox": "https://api-public.sandbox.pro.coinbase.com",
        "restapi": "https://api.pro.coinbase.com",
        "websocket": "wss://ws-feed.pro.coinbase.com"
    },
    "sandbox": {
        "key": "",
        "secret": "",
        "passphrase": ""
    },
    "restapi": {
        "key": "",
        "secret": "",
        "passphrase": ""
    }
}
